/* Tweet container */
.tweet-container {
  /* margin: 20px auto; */
  padding: 10px;
  /* max-width: 600px; */
  background-color: cornsilk;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* individual tweet */
.tweet {
  margin-bottom: 20px;
  padding: 20px; /* Added padding for better spacing */
  background-color: cornsilk;
  border: 3px solid #333;
  /* border-radius: 8px; */
  position: relative; /* Added to position .user-info relative to .tweet */
  transition: box-shadow 0.3s ease; /* Added transition for smoother hover effect */
}

.tweet:hover {
  box-shadow: 6px 6px 0 rgba(211, 211, 211, 1);
}

/* header styling */
.tweet header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
  background-color: cornsilk;
}

.tweet .user-info {
  display: flex;
  /* align-items: center; */
  /* padding: 1em 0 0 1em; */
  position: absolute; /* Ensure absolute positioning */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
}

.tweet .user-info img {
  width: 40px;
  height: 40px;
  top: 0px;
  left: 0px;
  /* border-radius: 50%; */
  /* margin-right: .5em; */
}

.tweet .user-info .name {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1em;
  margin-left: .5em;
  color: #333;
}

.tweet .handle {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1em;
  color: #6c757d;
  text-align: right;
  position: absolute; /* Changed to absolute positioning */
  top: 0; /* Align to top */
  right: 0; /* Align to right */
  padding: 1em; /* Added padding for spacing */
}

/* Tweet Content */
.tweet-content {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 1em;
  color: #333;
  margin: 10px 0;
  line-height: 1.5;
  border-bottom: 3px solid #4d4d4d;
  display: flex; /* Added flexbox */
  align-items: center; /* Center vertically */
  height: 100px; /* Adjust height as needed */
}

/* foot styling */
.tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tweet footer .timestamp {
  font-family: 'Source Sans 3', sans-serif;
  font-size: 12px;
  color: #6c757d;
}

.tweet footer .icons i {
  font-size: 16px;
  color: #4056a1;
  margin-left: 10px;
  cursor: pointer;
  margin-bottom: 0;
  transition: color 0.3s ease; /* Added transition for smoother hover effect */
}

.tweet footer .icons i:hover {
  color: #f4b031;
  margin-bottom: 0;
}